header
    .nav
        min-height: 80px
        overflow: hidden
        background: $menuColor

    .logo
        h2, p
            font-size: 16px
            display: inline-block
        .bar
            color: $barColor
            &:hover
                color: blanchedalmond
        p
            color: $pBarColor
        .icono
            color: $iBarColor
        svg
            width: 20px
            height: 20px
    nav .menutxt
        color: black

    .menu
        .c1
            background: $menuPage1
            &:hover
                background: $menuPage1H
        .c2
            background: $menuPage2
            &:hover
                background: $menuPage2H
        .c3
            background: $menuPage3
            &:hover
                background: $menuPage3H

.slide .carousel-item img
  height: 60vh
  object-fit: cover
  object-position: center

.container
    .adbanner
        .adtitle, .adsubtitle
            color: wheat

    .bookatab .bookatabinfo
        border: 8px double wheat
        color: wheat