
/* Galeria*/

.galeria {
  border-top: 5px solid $gallery;
  background: map-get($colors, $key:'menuColor' );
  .titulo {
    color: $gallery;
    font-family: $mainFont;
    font-weight: 400;
  }
  .grilla .contenedor-imagen {
    max-height: 180px;
    overflow: hidden;
    a {
      background: $gallery;
      display: inline-block;
    }
    &:hover img {
      opacity: 0.3;
    }
  }
}
.modal-dialog {
  max-width: 800px;
}